.tablatarifas-placeholder{
    align-items: center; /* Alinea verticalmente el contenido del botón */

}
.title {
    font-size: 2em; /* Tamaño grande para el texto */
    margin-bottom: 10px; /* Espacio debajo del texto */
    text-align: center; /* Alinea verticalmente el contenido */
}

.input-container {
    width: 80%; /* Ajusta el ancho del cuadro de texto */
    vertical-align: center;
    max-width: 600px; /* Ancho máximo del cuadro de texto */
    margin-bottom: 18px; /* Espacio debajo del cuadro de texto */
    align-items: center; /* Alinea verticalmente el contenido del botón */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto; /* Asegura que la tabla esté centrada */
}

th, td {
    border: 2px solid #4472C4;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.nota{
    margin-top: 2%;
    text-align: center;
}