/* Contenedor principal de la imagen y la información */
.container-main {
    padding-bottom: 60px;
    /* Ajusta según el tamaño de tu footer */
}

.video-info-container {
    display: flex;
    gap: 20px;
    /* Espacio entre los elementos */
    margin-top: 30px;
    align-items: flex-start;
    /* Alinea los elementos al inicio del eje vertical */
    justify-content: flex-start;
    /* Alinea los elementos al inicio del eje horizontal */
    max-width: 100%;
    /* Asegura que el contenedor no exceda el ancho de la página */
    padding: 0 20px;
    /* Añade algo de padding para que no quede pegado a los bordes */
}

/* Contenedor de la imagen */
.image-container {
    flex: 0 0 40%;
    /* La imagen ocupa el 40% del ancho total */
    max-width: 40%;
    /* Limita el ancho máximo de la imagen */
}

.image-container img {
    width: 80%;
    height: auto;
    border: 2px solid #4472C4;
    /* Borde azul */
    border-radius: 10px;
}

/* Contenedor de la información */
.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

/* Estilo de cada fila de información */
.info-container div {
    background-color: #f8f9fa;
    /* Fondo claro */
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #4472C4;
    /* Borde azul */
    width: 100%;
    /* Asegúrate de que ocupe todo el ancho disponible */
    max-width: 300px;
    /* Limita el ancho de cada casilla */
}
.map-container{
    width:450; 
    height:350; 
    border:0;
}

/* Ajusta la altura y el tamaño del texto para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Contenedor principal de la imagen y la información */
    .video-info-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
        align-items: center;
    }

    .image-container img {
        width: 100%;
    }

    /* Contenedor de la información */
    .info-container {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    
    .text-content {
        font-size: 0.4em; /* Ajusta el tamaño del texto aún más si es necesario */
        line-height: 1.2; /* Ajusta el espacio entre líneas si es necesario */
    }
}